body{
     background-image: url(background.jpg);
    background-color: rgb(181, 228, 240); 
    color: rgb(76, 130, 143); 
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 30px;} 

h1 {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(76, 130, 143);
    border-radius: 5px;
    background-color: whitesmoke;
    display: inline-block;
    width: fit-content;
    margin-bottom: 20px;}

p {
    width: fit-content;
    padding: 10px;
    border: 1px solid rgb(76, 130, 143);
    border-radius: 5px;
    background-color: whitesmoke;
    color: rgb(76, 130, 143);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;}

button {
    font-family: 'Courier New', Courier, monospace; 
    font-size: x-large;
    margin-bottom: 20px;
    border:black 1px solid;
    border-radius: 5px;
    padding: 10px;

    color: whitesmoke;
    width: auto; 
    height: auto; 
    text-align: left;}

button:hover {
    font-family: 'Courier New', Courier, monospace; 
    font-size: x-large;
    border:black 1px solid;
    border-radius: 5px;
    cursor: pointer;   
    background-color: gainsboro;
    width: auto; 
    height: auto;
    color: goldenrod;
    span.title{
         color: goldenrod;}}

/* code for the formatting of the backbuttons */
button.backbutton{
    font-size: medium; 
    height: fit-content; 
    width: fit-content; 
    color: whitesmoke; 
    background-color: rgb(76, 130, 143);
    margin-bottom: 0px;}
button.backbutton:hover{
    font-size: medium; 
    height: fit-content; 
    width: fit-content; 
    color: goldenrod; 
    background-color: rgb(76, 130, 143);
    margin-bottom: 0px;}

/* span is for the subheadings of the buttons on the porfolio page */
span.title{
    font-size: x-large; 
    font-family:'Courier New',Courier, monospace; 
    background-color: rgb(76, 130, 143); 
    color: whitesmoke;
    border-radius: 10px; 
    padding: 5px;
    text-align: left;
     line-height: 2;}
span.description{
    font-size: medium; 
    font-family:'Courier New',Courier, monospace;
    color: rgb(76, 130, 143); 
    margin-top: px; 
    border-radius: 10px;
    line-height: 2;}
